:root {
	--primary: #ff6dc9;
	--secondary: white;
	--background: #111;

	--font-sans: 'SoehneWeb',
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Helvetica,
		Arial,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji;
}

*,
*:before,
*:after {
	letter-spacing: -.009em;
	line-height: 1em;
	box-sizing: border-box;
}

header .avatar {
	width: 100px;
}

/* Fonts */
@font-face {
	font-family: 'SoehneWeb';
	font-display: swap;
	src: url("/static/fonts/soehne-web-regular.woff2") format("woff2"), url("/static/fonts/soehne-web-regular.woff") format("woff")
}

@font-face {
	font-family: 'SoehneWeb';
	font-display: swap;
	src: url("/static/fonts/soehne-web-medium.woff2") format("woff2"), url("/static/fonts/soehne-web-medium.woff") format("woff");
	font-weight: bold
}

p.newsletter {
	padding-left: 1em;
	margin-bottom: -20px;
	font-weight: 700;
}

/* Mailchimp */
#mc_embed_signup {
	border: none;
	margin-left: 1em;
	text-align: left;
}

#mce-EMAIL {
	font-family: var(--font-sans);
	font-size: 1em;
	color: white;
	border: 1px solid #ABB0B2;
	background-color: transparent;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	width: 400px;
	align-items: center;
}

.button {
	font-family: var(--font-sans);
	font-size: 0.9em;
	text-transform: uppercase;
	color: var(--primary);
	letter-spacing: .1em;
	background-color: transparent;
	border: 1px solid var(--primary);
	border-radius: 4px;
	width: 200px;
	text-align: center;
	cursor: pointer;
}

/* Button Styles */

.button:focus,
.button:hover {
	background-color: var(--primary);
	color: var(--background);
	animation: fadeIn .2s ease-in;
}

:-webkit-input-placeholder {
	color: #ABB0B2;
}

/* WebKit browsers */
:-moz-placeholder {
	color: #ABB0B2;
}

/* Mozilla Firefox 4 to 18 */
::-moz-placeholder {
	color: #ABB0B2;
}

/* Mozilla Firefox 19+ */
:-ms-input-placeholder {
	color: #ABB0B2;
}

/* Internet Explorer 10+ */


.mce_inline_error {
	font-family: var(--font-sans);
	text-decoration: none !important;
	color: white !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	background-color: var(--background) !important;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
	border: 1px solid #e85c41 !important;
}

#mce-error-response,
#mce-success-response {
	font-family: var(--font-sans);
	padding-bottom: 20px;
}

input:focus,
textarea:focus,
select:focus {
	outline: 0 !important;
	color: white !important;
}


/* Animation */
.animate-in {
	animation: fadeIn .2s ease-in;
}

.animate-out {
	transition: opacity .2s;
	opacity: 0;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

html,
body {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-sans);
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-gap: 0;
	align-items: center;
	padding: 5% 15%;
	background-color: var(--background);
	color: var(--secondary);
}

main {
	max-width: 37.5em;
}

p,
pre,
code {
	line-height: 1.6rem;
}

p {
	font-size: 1.1rem;
	font-feature-settings: "kern", "liga", "onum";
	line-height: 1.7rem;

}

a[href] {
	transition: color .4s;
	text-decoration: underline;
	color: var(--primary);
}

a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	color: var(--secondary);
}

a[href] :hover {
	color: var(--primary);
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

footer {
	position: relative;
	z-index: 2;
	font-size: 1rem;
	padding-bottom: 3em;
}

ul>li:first-child {
	text-decoration: none;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main>article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header>em {
	display: block;
	font-size: 3em;
	margin: .6em 0 0 0;
	font-weight: bold;
	font-style: normal;
}

header>em a[href] {
	text-decoration: none;
}

/* Footer Nav */
footer nav a[href] {
	text-decoration: none !important;
}

footer nav ul {
	padding: 0;
	list-style: none;
}

footer nav ul :first-child {
	margin-left: 0;
}

footer nav li {
	display: inline-block;
	margin: 0 .25em;
}

footer nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

footer nav li a[href]:not(:hover) {
	text-decoration: underline;
}

footer nav li a[data-current="current item"] {
	text-decoration: none;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

main>section>article>* {
	margin-top: 0;
	margin-bottom: .5em;
}

#post_date {
	opacity: 40%;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .625em;
	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
	text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
	display: grid;
	padding: 2em 0;
}

form label {
	display: none;
}

input,
textarea,
button {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	font-size: 1rem;
	font-family: var(--font-sans);
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--background);
	cursor: pointer;
}


@media screen and (max-width: 768px) {
	:root {
		font-size: 1.1rem;
	}

	body {
		display: block;
		padding: 0px;
		overflow-x: hidden;
	}

	footer {
		font-size: .9em;
		align-items: center;
	}

	/* Mailchimp form */
	.mc-field-group {
		display: block;
	}

	#mce-EMAIL {
		width: 95%;
		margin: 0;
	}

	#mce-error-response,
	#mce-success-response {
		font-family: var(--font-sans);
		padding: 20px 0 20px 0;
		max-width: 400px;
		line-height: 1.2em;
	}

	#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
		padding: 20px 0 20px 0;
	}

	.button {
		width: 95%;
		margin: 0.5em 0 0 0;
	}
}