<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Fabio Basile">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="Fabio · {{ title or renderData.title or metadata.title }}">
  <meta property="og:description" content="Fabio Basile’s Personal Blog">
  <meta property="og:image" content="/static/img/icon-1200x628.png">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:url" content="">
  <meta property="twitter:title" content="Fabio · {{ title or renderData.title or metadata.title }}">
  <meta property="twitter:description" content="Fabio Basile’s Personal Blog">
  <meta property="twitter:image" content="/static/img/icon-1200x628.png">
  <meta property="twitter:site" content="@fffabs">

  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fabio · {{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171419584-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171419584-1');
  </script>

</head>
