<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="animate-in">

		<header>
			<em>
				<a href="{{ '/' | url }}"><img src="/static/img/avatar_rounded_red.png" alt="Fabio's Avatar" class="avatar"></a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/newsletter.njk" %}

		{% include "components/footer.njk" %}

	</body>

</html>
